{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'headers.admin.eventtip' |trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="{{'forms.buttons.create' |trans }}" />
    <a class="btn btn-info" href="{{ path('admin_evtip_index') }}">{{'forms.buttons.cansel'|trans }}</a>
    {{ form_end(form) }}

{% endblock %}
