{% extends 'base.html.twig' %}

{% block body %}
    {% block name %}
        <span class="text-info">
        <h1>{{ app.user.userprofile  }}</h1>
        <p>(изменить данные)</p>
   </span>
        <hr/>
    {% endblock name %}
    {% block fos_user_content %}
        <div class="col-sm-2"><img width="100%" src ="{{ asset('uploads/photo/' ~ app.user.pictFileName) }}" /></div>
        <div class="col-sm-10">
        {{ form_start(edit_form) }}
            {{ form_row(edit_form.smi) }}
            {{ form_row(edit_form.pict_file_name) }}
            <div class="row">
                {% set userdir = app.user.username ~ app.user.id %}
                <p><b>Файлы пользователя:</b> (dir/{{ userdir }} )</p>
                <p>
                    {% if files %}
                        <div class="alert alert-info">
                            <p>Загруженные файлы:</p>
                            <ul>
                                {% set i = 0 %}
                                {% for file in files %}
                                    {% set file_path = 'uploads/doc/' ~ userdir ~ '/' ~ file %}
                                <li><a href="{{ asset(file_path) }}" alt="скачать">
                                        {{ file }}</a>
                                    <a data-href="{{ path('user_file_delete', {'filename':file}) }}" alt="удалить" data-toggle="modal" data-target="#confirm-delete{{ i }}">
                                        <span class="badge red-bg">&times;</span>
                                    </a></li>
                                    <div class="modal fade" id="confirm-delete{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    Удалить файл?
                                                </div>
                                                <div class="modal-body">
                                                    Вы собираетесь удалить файл {{ file }}. Подтвердите свои действия.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-danger btn-ok" href="{{ path('user_file_delete', {'filename':file}) }}" >Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% set i = i+1 %}
                                {% endfor %}
                            </ul>
                        </div>

                    {% else %}<div class="alert alert-warning">Нет загруженных файлов.</div>
                    {% endif %}

                </p>
                <p>Добавить файлы (PDF, DOC). Размер не более 256 kB. (справки, сканы документов и т.д.)</p>
                <div >{{ form_row(edit_form.doc1) }}</div>
                <div >{{ form_row(edit_form.doc2) }}</div>
                <div >{{ form_row(edit_form.doc3) }}</div>
            </div>
            <hr>
            <h3>Личные данные</h3>
            {{ form_row(edit_form.userprofile.family) }}
            {{ form_row(edit_form.userprofile.name) }}
            {{ form_row(edit_form.userprofile.secondname) }}
            {{ form_row(edit_form.userprofile.databorn) }}
            {{ form_row(edit_form.userprofile.privatenum) }}
            {{ form_row(edit_form.userprofile.passportnum) }}
            {{ form_row(edit_form.userprofile.issuedata) }}
            {{ form_row(edit_form.userprofile.ruvd) }}
            {{ form_row(edit_form.userprofile.enddata) }}
            {{ form_row(edit_form.userprofile.place) }}
            {{ form_row(edit_form.userprofile.phone) }}
            {{ form_row(edit_form.userprofile.address) }}

          <input class ="btn btn-success" type="submit" value="{{'forms.buttons.save'|trans }}" />
        <a class="btn btn-info" href="{{ path('homepage') }}">{{'forms.buttons.cansel'|trans }}</a>
        {{ form_end(edit_form) }}
        </div>
    {% endblock %}
{% endblock %}
