{% extends 'base.html.twig' %}

{% block body %}
    {% block name %}
        <span class="text-info" xmlns="http://www.w3.org/1999/html">
       <h1>Личный профиль</h1>
   </span>
        <hr/>
    {% endblock name %}
    {% block fos_user_content %}
        <div class="col-md-4">
            <h3 class="card">{{ app.user.userprofile.family }} {{ app.user.userprofile.name }} {{ app.user.userprofile.secondname }} </h3>
            <p><b>{{ 'forms.labels.databorn' |trans }}</b> {% if app.user.userprofile.databorn %}{{ app.user.userprofile.databorn|date('Y-m-d') }}{% endif %}</p>
            <p><b>{{ 'forms.labels.privatenum' | trans}}</b> {{ app.user.userProfile.privatenum }}</p>
            <p><b>{{ 'forms.labels.phone'|trans }}</b> {{ app.user.userProfile.phone }}</p>
            <p><b>{{'forms.labels.address' |trans }}</b> {{ app.user.userprofile.address }}</p>
        </div>
        <div class="col-md-4">
            <p><b>{{ 'forms.labels.passportnum'|trans }}</b> {{ app.user.userProfile.passportnum }}</p>
            <p><b>{{ 'forms.labels.issuedata' |trans }}</b> {% if app.user.userProfile.issuedata %}{{ app.user.userProfile.issuedata|date('Y-m-d') }}{% endif %}</p>
            <p><b>{{ 'forms.labels.ruvd' |trans }}</b> {{ app.user.userProfile.ruvd }}</p>
            <p><b>{{ 'forms.labels.enddata' |trans }}</b> {% if app.user.userProfile.enddata %}{{ app.user.userProfile.enddata|date('Y-m-d') }}{% endif %}</p>
            <p><b>{{ "forms.labels.place"|trans }}</b> {{ app.user.userProfile.place }}</p>

        </div>
        <div class="col-md-4">
            <img width="150px" alt="{{ app.user.userprofile }}" src ="{{ asset('uploads/photo/' ~ app.user.pictFileName) }}" />
                        <hr>
            <h4>{{ app.user.smi }}</h4>
        </div>
    {% endblock %}
{% endblock %}
