{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
                    Your application is now ready. You can start working on it at:
                    <code>{{ base_dir }}</code>
                </p>
                    {% if app.user  %}
                    <h2>Привет, {{ app.user.username | capitalize }} ! Glad to see you!</h2>
                        {% if reRegister %}
                            <h4>Вы уже зарегистрированы. Ваш login - <b>{{ app.user.username }}</b>.</h4>
                        {% endif %}
                    {% else %}
                        <p><a href="{{ path ('login') }}" class="btn btn-success">Login</a>  <a href="{{ path('app_registration_new') }}" class="btn btn-info">Регистрация</a></p>
                    {% endif %}
            </div>
s        </div>
    </div>
{% endblock %}


