{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="login-form login-wrap">
        <div id="container" >
            <div id="welcome">
                <h1>Event Logger 1.2</h1>
            </div>
            <div id="status" >
                    {% if app.user  %}
                    <h4>Здравствуйте, {{ app.user.userprofile | capitalize }}!<br> Рады видеть Вас!</h4>
                        {% if reRegister %}
                            <h4>Вы уже зарегистрированы. Ваш login - <b>{{ app.user.username }}</b>.</h4>
                        {% endif %}
                    {% else %}
                        <a href="{{ path ('fos_user_security_login') }}" class="btn btn-success btn-lg btn-block">Вход</a>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info btn-block">Регистрация</a>
                    {% endif %}
            </div>
        </div>
    </div>
    {% if app.user  %}
        <h3>Список ближайших мероприятий:</h3>

        <table class="table">
            <thead>
            <tr>

                <th>Название</th>
                <th>Место проведения</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Аккредитация</th>
                {% if is_granted ('ROLE_ADMIN') %}
                    <th>Действие</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>

                    <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.title }}</a></td>
                    <td>{{ event.region }},<br> {{ event.city }}</td>
                    <td>{{ event.dataStart|date('d.m.Y') }}</td>
                    <td>{{ event.dataEnd |date('d.m.Y') }}</td>
                    <td>
                        {% for user in event.users if user == app.user %}
                            <i>заявка подана</i>
                        {% else %}
                        {% endfor %}
                    </td>
                    {% if is_granted ('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-info">{{'forms.buttons.edit'|trans }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}


