{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список пользователей</h1>
    <table class="table table-inbox table-striped">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th{% if pagination.isSorted('up.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "Фамилия", "up.family") }}</th>
                <th>Имя\Отчество</th>
                <th>{{'forms.labels.smi'|trans }}</th>
                <th>e-mail</th>
                <th>{{  'forms.labels.phone'|trans }}</th>
                <th>{{ 'forms.labels.address'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for client in pagination %}
            <tr>
                <td>

                    {% if client.userid.pictFileName is defined and client.userid.pictFileName is not null %}
                        <img width="80px" src ="{{ asset('uploads/photo/' ~ client.userid.pictFileName) }}" />
                    {% endif %}
                 </td>
                <td><a href="{{ path('admin_user_show', { 'id': client.id }) }}">{{ client.family }}</a></td>
                <td>{{ client.name }} {{ client.secondname }}</td>
                <td>
                    {% if client.userid.smi is defined and client.userid.smi is not null %}
                        {{ client.userid.smi }}
                    {% endif %}
                </td>
                <td>
                    {% if client.userid.email  is defined and client.userid.email  is not null %}
                        {{ client.userid.email  }}
                    {% endif %}
                </td>
                <td>{{ client.phone }}</td>
                <td>{{ client.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
