{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ smi.title }} </h1>
<p><a href="{{ path('admin_smi_index') }}">{{ 'messages.tolist'|trans }}</a></p>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-primary" value="{{'forms.buttons.save'|trans }}" />
            {{ form_end(edit_form) }}

   <br>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
            <a class="btn btn-info" href="{{ path('admin_smi_index') }}">{{'forms.buttons.cansel'|trans }}</a>
            {{ form_end(delete_form) }}

{% endblock %}
