{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список средств массовой информации
        {% if is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('admin_smi_new') }}" class = "btn btn-primary">{{'forms.buttons.create'|trans }}</a>
        {% endif %}
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th{% if pagination.isSorted('c.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "Название", "smi.title") }}</th>
                <th>Учредитель</th>
                <th>УНП</th>
                <th>Регион+сортировка</th>
                {% if is_granted ('ROLE_ADMIN') %}
                    <th>Действие</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for smi in pagination %}
            <tr>
                <td><a href="{{ path('admin_smi_show', { 'id': smi.id }) }}">{{ smi.id }}</a></td>
                <td><a href="{{ path('admin_smi_show', { 'id': smi.id }) }}">{{ smi.title }}</a></td>
                <td>{{ smi.owner }}</td>
                <td>{{ smi.unp }}</td>
                <td>привязка к области</td>
                {% if is_granted ('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('admin_smi_edit', { 'id': smi.id }) }}" class="btn btn-info">{{'forms.buttons.edit'|trans }}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
