{% extends 'base.html.twig' %}

{% block title %}Справочник регионов {% endblock %}

{% block body %}
    <h1>Регионы</h1>

    <table class="table">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(regions, 'Id', 'r.id') }}</th>
            <th{% if regions.isSorted('r.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(regions, 'Регион', 'r.name') }}</th>

        </tr>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td><a href="{{ path('region_edit', {'id': region.id}) }}">{{ region.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(regions) }}
    </div>

    <a href="{{ path('region_new') }}" class = "btn btn-primary">Добавить</a>
{% endblock %}
