{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'headers.admin.region'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-secondary" value="{{'forms.buttons.create'|trans }}" />
    {{ form_end(form) }}
    <p><a href="{{ path('region_index') }}">{{'messages.tolist'|trans }}</a></p>
{% endblock %}
