{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'headers.admin.region'|trans }}</h1>
<ul class="list-inline">
    <li class="list-inline-item">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="{{'forms.buttons.create'|trans }}" />
    <a class="btn btn-info" href="{{ path('region_index') }}">{{'forms.buttons.cansel'|trans }}</a>
    {{ form_end(form) }}
    </li>
</ul>
{% endblock %}
