{% extends 'base.html.twig' %}

{% block body %}
    <h1>Тип СМИ</h1>
    <ul class="list-inline">
        <li class="list-inline-item">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-primary" value="{{ 'forms.buttons.save'|trans }}" />
            {{ form_end(edit_form) }}
        </li>
        <li class="list-inline-item">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
            <a class="btn btn-info" href="{{ path('admin_smitip_index') }}">{{'forms.buttons.cansel'|trans }}</a>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
