{% extends 'base.html.twig' %}

{% block body %}
    <h1>Тип СМИ</h1>
    <ul class="list-inline">
        <li class="list-inline-item">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-secondary" value="{{ 'forms.buttons.edit'|trans }}" />
            {{ form_end(edit_form) }}
        </li>
        <li class="list-inline-item">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <p><a href="{{ path('admin_smitip_index') }}">{{ 'messages.tolist'|trans }}</a></p>


{% endblock %}
