{% extends 'base.html.twig' %}

{% block body %}
    <h1>Smitips list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for smitip in smitips %}
            <tr>
                <td><a href="{{ path('admin_smitip_show', { 'id': smitip.id }) }}">{{ smitip.id }}</a></td>
                <td>{{ smitip.name }}</td>
                <td>
                    <a href="{{ path('admin_smitip_show', { 'id': smitip.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('admin_smitip_new') }}" class = "btn btn-primary">Create a new smitip</a>

{% endblock %}
