{% extends 'base.html.twig' %}

{% block body %}
    <h1>Город</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-secondary" value="{{'forms.buttons.save'|trans }}" />
            {{ form_end(edit_form) }}
<br>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
            <a class="btn btn-info" href="{{ path('city_index') }}">{{'forms.buttons.cansel'|trans }}</a>
            {{ form_end(delete_form) }}

{% endblock %}
