{% extends 'base.html.twig' %}

{% block title %} Города {% endblock %}



{% block body %}
    <h1>Города</h1>
    {% if formFilter|length %}
        <div class="card-box">
            {{ form_start(formFilter) }}
            <div class="row m-b-10">
                <div class="col-lg-2 m-b-5">
                    {{ form_row(formFilter.region) }}
                </div>
                <div class="col-lg-2 m-b-5">
                    <div class="form-group">
                        <!-- just for correct top padding -->
                        <label class="control-label">&nbsp;</label>
                        <div class="input-group">
                            <button name="filter" type="submit" class="btn btn-success w-md">Выбрать</button>
                            <a class="btn btn-default w-md" href="{{ path('city_index') }}">Reset</a>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(formFilter) }}
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Город</th>
                <th>Изменить</th>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                <th{% if pagination.isSorted('c.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'c.name') }}</th>
                <th>Область</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for city in pagination %}
            <tr>
                <td>{{ city.id }}</td>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.name }}</a></td>
                <td>{{ city.region }}</td>
                <td><a class="btn-default" href="{{ path('city_edit', { 'id': city.id }) }}">edit</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}

            <a  class = "btn btn-primary" href="{{ path('city_new') }}">Добавить</a>


{% endblock %}
