{% extends 'base.html.twig' %}
{% block title %}{{'headers.admin.eventtips'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'headers.admin.eventtips'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'tables.title'|trans }}</th>

             </tr>
        </thead>
        <tbody>
        {% for evtip in evtips %}
            <tr>
                <td>{{ evtip.id }}</td>
                <td><a href="{{ path('admin_evtip_edit', { 'id': evtip.id }) }}">{{ evtip.name }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('admin_evtip_new') }}" class = "btn btn-primary">{{'forms.buttons.create'|trans }}</a>
{% endblock %}
