{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактировать мероприятие</h1>


            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
                    <input type="submit" class="btn btn-info" value="{{'forms.buttons.save'|trans }}" />
            {{ form_end(edit_form) }}
    <br>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
            {{ form_end(delete_form) }}
    <br>
    <b><a href="{{ path('event_index') }}">{{'messages.tolist'|trans }}</a></b>


{% endblock %}

