{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактировать мероприятие</h1>


            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
                    <input type="submit" class="btn btn-primary" value="{{'forms.buttons.save'|trans }}" />
            {{ form_end(edit_form) }}
    <br>
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-info" href="{{ path('event_index') }}">{{'forms.buttons.cansel'|trans }}</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-danger btn-ok" href="#" data-toggle="modal" data-target="#confirm-delete" >{{'forms.buttons.remove'|trans }}</a>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Удалить событие?
                </div>
                <div class="modal-body">
                    Вы собираетесь удалить "{{ event.title }}". Подтвердите свои действия.
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" data-dismiss="modal">{{'forms.buttons.cansel'|trans }}</button>
                        </div>
                        <div class="col-sm-6">
                            {{ form_start(delete_form) }}
                            <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function() {
            let $locationSelect = $('.js-event-form-region');

            let $specificLocationTarget = $('.js-specific-region-target');
            $locationSelect.on('change', function(e) {
                alert($locationSelect.data('specific_region-url'));
                alert($locationSelect.val());
                $.ajax({
                    url: $locationSelect.data('specific_region-url'),
                    data: {
                        region: $locationSelect.val()
                    },
                    success: function (html) {
                        if (!html) {
                            alert ('no html');
                            //$specificLocationTarget.find('select').remove();
                            //$specificLocationTarget.addClass('d-none');
                            return;
                        }
                        alert (html);
                        // Replace the current field and show
                        //$specificLocationTarget.html(html).removeClass('d-none')
                    }
                });
            });
        });
    </script>
{%  endblock %}

