{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
     <h1>{{ event.title }}</h1>
    <div class="row">
    <div class="col-sm-3">
        <p><b>Даты проведения:</b><br>
         {{ event.dataStart |date('Y-m-d - H:i')  }} - <br>
         {{ event.dataEnd |date('Y-m-d - H:i') }}</p>
        <p>
            <b>Место проведения:</b><br>
            {{ event.region }}, {{ event.city }}
        </p>

    </div>
    <div class="col-lg-6">
        <p><b>Информация для прессы:</b></p>
        <p> {{ event.brief }}</p>
        {% if app.user  %}
            {{ form_start(apply_form) }}
            <input type="submit" class="btn btn-info" value="{{'forms.buttons.apply'|trans }}">
            {{ form_end(apply_form) }}
        {% endif %}
    </div>
    </div>

       {% if is_granted ('ROLE_ADMIN') %}
            <div class="row">

            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary" href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
                </li>
                <li class="list-inline-item">
                    {{ form_start(delete_form) }}
                    <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
                    {{ form_end(delete_form) }}
                </li>
            </ul>

            </div>
       {% endif %}

       <p><a href="{{ path('event_index') }}">{{'messages.tolist'|trans }}</a></p>
   </div>

{% endblock %}
