{% extends 'base.html.twig' %}

{% block body %}
    <h1>Мероприятие</h1>
    <h5>Название: <b>{{ event.title }}</b></h5>
    <p>Описание: {{ event.brief }}</p>

    <p><b>Дата начала:</b> {{ event.dataStart |date('Y-m-d H:i:s')  }}</p>
    <p><b>Дата окончания:</b> {{ event.dataEnd |date('Y-m-d H:i:s')  }}</p>
    <p><b>Создано:</b> {% if event.dataCreated %}{{ event.dataCreated|date('Y-m-d H:i:s') }}{% endif %}</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li class="list-inline-item">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <p><a href="{{ path('event_index') }}">{{'messages.tolist'|trans }}</a></p>

{% endblock %}
