{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
     <h1>{{ event.title }}</h1>
    <div class="row">
    <div class="col-sm-3">
        <section class="panel">
            <header class="panel-heading">
                Время и место проведения
            </header>
            <div class="panel-body">
                <p> {{ event.dataStart |date('Y-m-d - H:i')  }} - <br>
                 {{ event.dataEnd |date('Y-m-d - H:i') }}</p>
                <p>{{ event.region }}, {{ event.city }}</p>
                <p>Адрес: {{ event.address }}</p>
            </div>
        </section>
    </div>
    <div class="col-sm-3">
        <section class="panel">
            <header class="panel-heading">
                Организаторы и спонсоры
            </header>
            <div class="panel-body">
                  <p>{{ event.organizator }}</p>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Информация для прессы
            </header>
            <div class="panel-body">
                <p> {{ event.brief }}</p>
                <p>Программа (скачать)</p>
                {% if app.user  %}
                    {% if user in event.users %}
                        <h3>Заявка направлена {{ userevent.date | date('d.m.Y - H:i')}}</h3>
                        <div class= "alert apply{{ userevent.status }}" >{{ "forms.buttons.apply#{userevent.status}"|trans }}</div>
                    {% else %}
                        {{ form_start(apply_form) }}
                        <input type="submit" class="btn btn-info" value="{{'forms.buttons.apply'|trans }}">
                        {{ form_end(apply_form) }}
                    {% endif %}
                {% endif %}
            </div>
        </section>
    </div>
    </div>
       {% if is_granted ('ROLE_ADMIN') %}
            <div class="row">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary" href="{{ path('event_edit', { 'id': event.id }) }}">{{'forms.buttons.edit'|trans }}</a>
                </li>
                <li class="list-inline-item">
                    {{ form_start(delete_form) }}
                    <input type="submit" class="btn btn-danger" value="{{'forms.buttons.remove'|trans }}">
                    <a class="btn btn-info" href="{{ path('event_index') }}">{{'forms.buttons.cansel'|trans }}</a>
                    {{ form_end(delete_form) }}
                </li>
            </ul>
            </div>
       {% endif %}
       </input>
       <hr>
       {% if is_granted ('ROLE_ADMIN') %}

       <div class="row">
           <section class="panel">
               <header class="panel-heading">
                   Заявки на аккредитацию
               </header>
               <div class="panel-body">
                   <table class="table">
                       {% set i = 0 %}
                       <thead>
                       <tr>
                           <th>Пользователь</th>
                           <th>СМИ</th>
                           <th>Дата</th>
                           <th>Статус</th>
                           <th>Принять</th>
                           <th>Отклонить</th>
                       </tr>
                       </thead>
                       {% for user in event.users %}
                         <tbody class="table-striped">
                           <tr>
                               <td><a href="{{ path('admin_user_show', { 'id': user.userprofile.id }) }}">{{ user.userprofile }}</a>
                                                            </td>
                               <td>{{ user.smi }}</td>

                                   {% for userA in userall %}
                                       {% if userA.userId == user.id %}
                                       <td>
                                           {{ userA.date | date('d.m.Y') }} <br>
                                       </td>
                                        <td>
                                            <p class="confirm{{ userA.status }}">{{ "forms.buttons.confirm#{userA.status}"|trans }}</p>
                                        </td>
                                        <td class="col-sm-2">
                                           {% if userA.status != 1 %}
                                               <a class="btn btn-success" href="{{ path('event_confirm', { 'id': event.id, 'uid': user.id, 'status':1 }) }}">{{'forms.buttons.confirm'|trans }}</a>
                                           {% endif %}
                                        </td>
                                        <td>
                                           {% if userA.status != 2 %}
                                               <a class="btn btn-danger" href="{{ path('event_confirm', { 'id': event.id, 'uid': user.id, 'status':2 }) }}">{{'forms.buttons.decline'|trans }}</a>
                                           {% endif %}
                                        </td>
                                       {% endif %}
                                   {% endfor %}

                           </tr>
                           </tbody>
                       {% endfor %}
                   </table>
               </div>
           </section>s
       </div>
       {% endif %}
   </div>

{% endblock %}
