{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="#">{{ document.id }}</a></td>
                <td>{{ document.name }}</td>
                <td>{{ document.fileName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="#">show</a>
                        </li>
                        <li>
                            <a href="{{ path('document_edit', { 'id': document.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_new') }}">Create a new document</a>
        </li>
    </ul>
{% endblock %}
