{% extends 'base.html.twig' %}
{% block breadcrumbs %}
    {{ bread('Документы', path('document_index')) }}
    {{ bread('Новый документ') }}
{%  endblock %}
{% block body %}
    <h1>Добавить документ</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="row">
        <hr>
        <div class="col-lg-4">
            <input type="submit" class="btn btn-primary btn-block" value="{{'forms.buttons.save'|trans }}" />

        </div>
        <div class="col-sm-6">
            <a class="btn btn-info" href="{{ path('document_index') }}">{{'forms.buttons.cansel'|trans }}</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
