{% extends 'base.html.twig' %}

{% block body %}
    <h1>Banner edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <img src="{{ asset('uploads/img/' ~ banner.fileName) }}" width="100px" >
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('banner_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete this!">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
