{# app/Resources/views/security/login.html.twig #}
{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

    {% block name %}
            <span class="text-info">
               <h1>Вход в систему</h1>
            </span>
            <hr/>
        {% if error %}
            <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    {% endblock name %}
    {% block fos_user_content %}
        <form action="{{ path('fos_user_security_check') }}" method="post">
            <div class="form-row">
                <div class="col-3">
             <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="login"/>
                </div>
                <div class="col-3">
             <input type="password" id="password" class="form-control" placeholder="password" name="_password"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <button class= "btn btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>
        </form>
        <small class="pull-right"><a href="{{ path('fos_user_registration_register') }}">Создать аккаунт?</a></small>
    {% endblock %}



