{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
        <form class="login-form" action="{{ path('fos_user_security_check') }}" method="post">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                {% if error %}
                    <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" id="username" name="_username" value="" placeholder="login"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" id="password" class="form-control" placeholder="password" name="_password"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <label class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me
                    <span class="pull-right"> <a href="{{ path('fos_user_resetting_request') }}"> Забыли пароль?</a></span>
                </label>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                <small class="pull-right"><a href="{{ path('fos_user_registration_register') }}">Создать аккаунт?</a></small>
                           </div>
        </form>
</div>
{% endblock fos_user_content %}