{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

    {% block name %}
        <span class="text-info">
               <h1>Регистрация в системе CORE</h1>
            </span>
        <hr/>
    {% endblock name %}
    {% block fos_user_content %}
  <div class="row">
    {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_row(form.pict_file_name) }}
    <button class= "btn btn-info" type="submit">{{'registration.submit'|trans }}</button>
    {{ form_end(form) }}
  </div>

{% endblock %}